$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$main-font: "Montserrat", "Arial", sans-serif;

$color-base: #333333;
$color-base-main: #ffffff;
$color-base-secondary: #f0ebff;

$color-base-hide: #bdbdbd;
$color-base-hide-light: #e2e2e2;

$color-base-primary: #7859cf;
$color-base-primary-light: #9070ec;
$color-base-primary-dark: #533cac;
$color-base-primary-opacity: rgba(120, 89, 207, 0.25);

$color-background-lightest: #f8f8f8;
$color-background-flat: #f3ebe1;
$color-background-lavender: #eae6fc;
$color-background-espresso: #e5e6e8;
