.action-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: right;
}

.action-list__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 22px;
  outline-color: transparent;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: $color-base;
    transition: background-color 0.3s;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-base-secondary;
  }

  &--user {
    &::before {
      mask: url("../../icons/user-icon.svg");
    }
  }
  &--cart {
    &::before {
      mask: url("../../icons/cart-icon.svg");
    }
  }

  @include tablet-size {
    padding: 32px 22px;
  }
}

.action-list__link-title {
  display: none;
}
