.advantages {
  background-color: $color-base-main;
  padding: 50px 0 60px;

  @include tablet-size {
    padding: 60px 0 100px;
  }

  @include desktop-size {
    padding: 100px 0 120px;
  }
}

.advantages__label {
  @include desktop-size {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.advantages__title {
  @include font(24px, 1.5, 700, $color-base);
  margin: 0 auto 36px;
  text-align: center;

  @include tablet-size {
    font-size: 42px;
    margin: 0 20px 60px;
  }

  @include desktop-size {
    max-width: 1440px;
    margin: 0 auto 80px;
  }
}

.advantages__list {
  margin: 0 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet-size {
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }

  @include desktop-size {
    max-width: 1380px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.advantages__item {
  justify-items: center;

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 56px;

    @include tablet-size {
      grid-row: 1/-1;
      grid-column: 1/2;
    }

    @include desktop-size {
      grid-row: 1/2;
      grid-column: 1/-1;
      margin-bottom: 10px;
    }

  }

  &--speed {
    &::before {
      background: url("../../icons/clock-icon.svg");
    }
  }
  &--convenience {
    &::before {
      background: url("../../icons/fit-icon.svg");
    }
  }
  &--cheerfulness {
    &::before {
      background: url("../../icons/energy-icon.svg");
    }
  }
  &--environment {
    &::before {
      background: url("../../icons/ecology-icon.svg");
    }
  }

  @include tablet-size {
    display: grid;
    grid-template: auto 1fr /auto 1fr;
    gap: 10px 20px;
  }

  @include desktop-size {
    grid-template: repeat(3, auto)/ 1fr;
    gap: 10px;
  }
}

.advantages__item-title {
  margin: 10px auto 4px;
  @include font(18px, 1.7, 700, $color-base);
  text-align: center;

  @include tablet-size {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    justify-self: left;
  }

  @include desktop-size {
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-self: center;
  }
}

.advantages__item-subtitle {
  margin: 0;
  text-align: center;
  @include font(14px, 1.4, 400, $color-base);

  @include tablet-size {
    font-size: 16px;
    line-height: 1.5;
    grid-row: 2/-1;
    grid-column: 2/-1;
    text-align: left;
  }

  @include desktop-size {
    grid-row: 3/-1;
    grid-column: 1/-1;
    text-align: center;
  }
}
