.catalog {
  margin: 50px auto 44px;

  @include tablet-size {
    margin: 80px 20px 90px;
  }

  @include desktop-size {
    max-width: $desktop;
    margin: 100px auto 120px;
    display: grid;
    grid-template: repeat(5, auto)/ auto 1fr;
    grid-template-areas:
      "label label"
      "title title"
      "form sort"
      "form list"
      "form pagination";
    column-gap: 30px;
  }
}

.catalog__label {
  @include desktop-size{
    grid-area: label;
  }
}
.catalog__title {
  @include font(24px, 1.5, 700, $color-base);
  margin: 0 auto 17px;
  padding: 0;
  text-align: center;

  @include tablet-size {
    font-size: 42px;
  }

  @include desktop-size{
    grid-area: title;
    margin-bottom: 40px;
  }
}

.catalog__filter {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 30px;
  max-width: 280px;
  margin-bottom: 44px;

  @include tablet-size {
    max-width: initial;
    display: grid;
    grid-template: 1fr auto/ repeat(3, 1fr);
    gap: 40px 30px;
    margin-bottom: 44px;
  }

  @include desktop-size {
    width: 318px;
    grid-template: repeat(4, auto)/ 1fr;
    grid-area: form;
    align-content: start;
    justify-self: left;
    margin-left: 40px;
  }
}

.catalog__filter-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 280px;

  @include tablet-size {
    max-width: initial;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: center;
  }
}

.catalog__filter-button {
  outline-color: transparent;
  border: none;
}

.catalog__sort {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-bottom: 16px;
  position: relative;
  justify-content: space-between;
  align-items: center;

  select {
    word-break: break-all;
  }

  @include tablet-size {
    justify-self: right;
    margin-bottom: 30px;
  }

  @include desktop-size {
    grid-area: sort;
    margin: 0 40px 26px 0;
  }
}

.catalog__sort-title {
  @include font(16px, 1.5, 600, $color-base);
  margin: 0;
}

.catalog__list {
  max-width: 280px;
  display: grid;
  justify-self: center;
  gap: 20px;
  list-style: none;
  margin: 0 0 40px;
  padding: 0;

  @include tablet-size {
    max-width: initial;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
  }

  @include desktop-size {
    grid-area: list;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: start;
    margin-bottom: 60px;
  }
}

.catalog__item {
  background-color: $color-base-main;
  padding: 39px 20px 20px;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;

  @include tablet-size {
    max-width: 349px;
    padding: 50px 30px 30px;
    display: grid;
    grid: 1fr/ 1fr;
  }

  @include desktop-size {
    max-width: 317px;

    &:hover {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      transition: box-shadow 0.3s;
    }
  }
}

.catalog__pagination {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;

  @include tablet-size {
    width: 395px;
    margin: 0;
    justify-self: right;
  }

  @include desktop-size {
    margin-right: 40px;
  }
}

.catalog__pagination-item {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.catalog__pagination-link {
  border-radius: 4px;
  align-content: center;
  text-align: center;
  display: block;
  min-width: 40px;
  height: 40px;
  padding: 0 8px;
  text-decoration: none;
  @include font(16px, 1.5, 400, $color-base-primary);
  background-color: $color-base-main;
  transition: background-color 0.3s ease-in-out;
  outline-color: transparent;

  &--current {
    background-color: transparent;
    @include font(16px, 1.5, 600, $color-base);
  }

  &--disabled {
    color: $color-base-main;
    background-color: $color-base-hide-light;
  }

  &:has(.catalog__pagination-text--previous) {
    justify-items: center;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $color-base-primary;
      mask: url("../../icons/arrow-icon.svg");
    }

    &:hover,
    &:focus-visible,
    &:focus,
    &:active,
    &:disabled {
      &::before {
        background-color: $color-base-main;
      }
    }

    @include tablet-size {
      padding: 8px 20px;
      &:before {
        display: none;
      }
    }
  }

  &:has(.catalog__pagination-text--next) {
    justify-items: center;
    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $color-base-primary;
      transform: rotate(180deg);
      mask: url("../../icons/arrow-icon.svg");
    }

    &:hover,
    &:focus-visible,
    &:focus,
    &:active,
    &:disabled {
      &::after {
        background-color: $color-base-main;
      }
    }

    @include tablet-size {
      padding: 8px 20px;
      &:after {
        display: none;
      }
    }
  }

  &:hover,
  &:focus-visible,
  &:focus {
    color: $color-base-main;
    background-color: $color-base-primary-light;
  }

  &:active {
    color: $color-base-main;
    background-color: $color-base-primary-dark;
  }

  &:disabled {
    color: $color-base-main;
    background-color: $color-base-hide-light;
    cursor: default;
  }

  @include desktop-size {
    grid-area: pagination;
  }
}

.catalog__pagination-text {
  display: none;

  @include tablet-size {
    display: initial;
  }
}
