.declaration__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;


}

.declaration__item {
  &--flat {
    background-color: $color-background-flat;
  }

  &--latte {
    background-color: $color-background-lavender;
  }

  &--espresso {
    background-color: $color-background-espresso;
  }

  @include tablet-size {
    &--flat {
      background-image: linear-gradient(to top, $color-base-main 188px, $color-background-flat 188px);
    }

    &--latte {
      background-image: linear-gradient(to top, $color-base-main 188px, $color-background-lavender 188px);
    }

    &--espresso {
      background-image: linear-gradient(to top, $color-base-main 188px, $color-background-espresso 188px);
    }
  }

  @include desktop-size {
    &--flat {
      background-image: none;
    }

    &--latte {
      background-image: none;
    }

    &--espresso {
      background-image: none;
    }
  }
}
