.developers {
  margin: 20px;

  @include tablet-size {
    grid-area: developers;
    margin: 30px;
  }
}

.developers__title {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: center;
  margin: 0;
  @include font(12px, 1.3, 400, $color-base-hide);
}
.developers__link {
  text-decoration: none;
  @include font(12px, 1.3, 400, $color-base-hide);
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 16px;
    background-color: $color-base-hide;
    mask: url("../../icons/html-academy-logo-icon.svg");
    transition: background-color 0.3s;

  }

  &:hover,
  &:focus-visible {
    color: $color-base-primary;
    transition: color 0.3s;
    &::after {
      background-color: $color-base-primary;
      transition: background-color 0.3s;
    }
  }

  &:active {
    color: $color-base-primary-dark;
    transition: color 0.3s;
    &::after {
      background-color: $color-base-primary;
      transition: background-color 0.3s;
    }
  }
}
