.footer {
  background-color: $color-base-main;
}

.footer-wrapper {
  padding-bottom: 10px;
  @include tablet-size {
    display: grid;
    grid-template: auto 1fr auto/ repeat(3, 1fr);
    grid-template-areas:
      "links             links      links"
      "footer-navigation media      contacts "
      "developers        developers developers";
    gap: 0 30px;
  }

  @include desktop-size {
    max-width: 1380px;
    margin: 0 auto;
    grid-template: auto auto/ repeat(4, 1fr);
    grid-template-areas:
      "links      footer-navigation media      contacts"
      "developers developers        developers developers";
    gap: 30px;
  }
}

.footer-navigation {
  padding: 18px 20px 30px;
  border-bottom: 1px solid $color-base-secondary;

  @include tablet-size {
    grid-area: footer-navigation;
    padding: 0 0 0 20px;
    border-bottom: none;
  }

  @include desktop-size {
    background-color: $color-base-main;
    padding: 46px 0 0;
  }
}

.footer-navigation__title {
  margin: 0 0 19px;
  @include font(14px, 1.4, 700, $color-base-primary);
}

.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  @include font(12px, 1.3, 500, $color-base);
  transition: color 0.3s;

  &:hover,
  &:focus-visible {
    color: $color-base-primary;
    transition: color 0.3s;
  }

  &:active {
    color: $color-base-primary-dark;
    transition: color 0.3s;
  }
}
