.header {
  background-color: $color-base-main;
  color: $color-base;
  position: relative;
}

.header__navigation {
  display: grid;
  grid-template: minmax(60px, auto) 1fr / auto 1fr 60px;
  grid-template-areas:
    "logo       actions    toggle"
    "navigation navigation navigation";

  @include tablet-size {
    grid-template: minmax(80px, auto)/ auto 1fr auto;
    grid-template-areas:
    "logo navigation actions";
    gap: 30px;
  }
}

.header__logo {
  grid-area: logo;
  display: block;
  align-content: center;
  margin: 0 20px;
}

.header__action-list {
  grid-area: actions;
  align-content: center;
  justify-self: right;
}

.header__toggle {
  grid-area: toggle;
  align-content: center;
  justify-self: center;

  @include tablet-size {
    display: none;
  }
}

.header__navigation-list {
  grid-area: navigation;
}
