.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  opacity: 1;
  transition: opacity 0.3s;

  @include desktop-size {
    grid-template-columns: auto 150px;
    gap: 20px;
    align-content: center;
  }
}

.logo__image {
  display: block;
}

.logo__text {
  display: none;

  @include desktop-size {
    display: initial;
    @include font(12px, 1.3, 400, $color-base);
    align-content: center;
  }
}
