.map {
  background-color: $color-base-main;
}

.map__wrapper {
  display: grid;
  grid-template: 1fr / 1fr;
}

.map__wrapper-fake {
  width: 100%;
  max-height: 420px;
  display: grid;
  grid-row: 1/ -1;
  grid-column: 1/-1;
  z-index: 1;

  @include tablet-size {
    max-height: 480px;
  }
}

.map__image {
  width: 100%;
  object-fit: cover;
}
