.period-range {
  margin-top: 10px;
}

.period-range__slider {
  width: 280px;
  cursor: pointer;
  height: 2px;
  border: none;
  background-color: $color-base-hide-light;
  margin-bottom: 35px;

  @include tablet-size {
    width: 223px;
  }

  @include desktop-size {
    width: 318px;
    margin-bottom: 36px;
  }

  .noUi-handle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid $color-base-primary-light;
    top: -12px;
    box-shadow: none;
    background-color: $color-base-main;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }

    &.noUi-handle-lower {
      right: -23px;
    }

    &.noUi-handle-upper {
      right: -9px;
    }
  }

  .noUi-connect {
    background-color: $color-base-primary;
  }

  .noUi-connects {
    height: 4px;
    top: -2px;
  }
}
